# Environment Variables
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Stats
# Ignore contents of data/ but keep directory structure
data/*
!data/stats/
!data/1947-2012/
!data/chunks/

# Ignore Qdrant Database (Large Binary)
qdrant_db/
data/qdrant_db/

# OS
.DS_Store
Thumbs.db
